@charset "UTF-8";
@font-face {
  font-family: "NotoSansJP";
  font-weight: 700;
  src: url("../font/NotoSansJP-Bold") format("truetype"), url("../font/NotoSansJP-Bold") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-weight: 500;
  src: url("../font/NotoSansJP-Medium") format("truetype"), url("../font/NotoSansJP-Medium") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-weight: 200;
  src: url("../font/NotoSansJP-Light") format("truetype"), url("../font/NotoSansJP-Light") format("opentype"); }

@font-face {
  font-family: "NotoSerifJP";
  font-weight: 700;
  src: url("../font/NotoSerifJP-Bold") format("truetype"), url("../font/NotoSerifJP-Bold") format("opentype"); }

@font-face {
  font-family: "NotoSerifJP";
  font-weight: 500;
  src: url("../font/NotoSerifJP-Medium") format("truetype"), url("../font/NotoSerifJP-Medium") format("opentype"); }

@font-face {
  font-family: "NotoSerifJP";
  font-weight: 200;
  src: url("../font/NotoSerifJP-Light") format("truetype"), url("../font/NotoSerifJP-Light") format("opentype"); }

body {
  font-family: 'NotoSansJP', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

br.pc {
  display: none; }
  @media only screen and (min-width: 768px) {
    br.pc {
      display: block; } }

br.sp {
  display: block; }
  @media only screen and (min-width: 768px) {
    br.sp {
      display: none; } }

.l-content {
  width: 100%;
  padding: 40px 0; }
  @media only screen and (min-width: 768px) {
    .l-content {
      padding: 80px 0; } }
  .l-contentInner {
    width: 95%;
    max-width: 1080px;
    margin: 0 auto; }

.l-contentBgblue {
  width: 100%;
  background-color: #E5EAF5; }
  .l-contentBgblueInner {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto; }

.l-contentBgorange {
  width: 100%;
  background-color: #FFFAF2;
  padding: 40px 0; }
  @media only screen and (min-width: 768px) {
    .l-contentBgorange {
      padding: 80px 0; } }
  .l-contentBgorangeInner {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto; }

.l-contentBgnavy {
  width: 100%;
  background-color: #002063;
  padding: 40px 0; }
  @media only screen and (min-width: 768px) {
    .l-contentBgnavy {
      padding: 80px 0; } }
  .l-contentBgnavyInner {
    width: 95%;
    max-width: 1080px;
    margin: 0 auto; }

/*--------------------
HEADER
--------------------*/
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    header {
      height: 50px;
      max-width: 1440px;
      left: 50%;
      transform: translateX(-50%); } }
  header h1 {
    height: 20px;
    margin-top: 10px; }
    @media only screen and (min-width: 768px) {
      header h1 {
        height: 30px; } }
    header h1 img {
      height: 100%;
      width: auto; }

/*--------------------
WRAPPER
--------------------*/
/*--------------------
main
--------------------*/
main {
  padding-top: 40px; }
  @media only screen and (min-width: 768px) {
    main {
      padding-top: 50px; } }

/*--------------------
KV
--------------------*/
.kv {
  background-color: #E5EAF5; }
  .kv picture {
    width: 100%;
    margin: 0 auto; }
    @media only screen and (min-width: 768px) {
      .kv picture {
        max-width: 1440px; } }

/*--------------------
CTA
--------------------*/
.cta {
  width: 100%;
  padding: 40px 0;
  background-color: #EFEFEF; }
  @media only screen and (min-width: 768px) {
    .cta {
      padding: 80px 0; } }
  .cta__txt01 {
    margin-bottom: 30px; }
    @media only screen and (min-width: 768px) {
      .cta__txt01 {
        margin-bottom: 50px; } }
  .cta__txt02 {
    font-size: 16px;
    color: #F29600;
    text-align: center;
    margin-top: 20px;
    font-weight: bold; }
    @media only screen and (min-width: 768px) {
      .cta__txt02 {
        font-size: 24px; } }
  .cta ul {
    display: block; }
    @media only screen and (min-width: 768px) {
      .cta ul {
        display: flex;
        justify-content: space-between;
        margin: 0; } }

/*--------------------
QUESTION01
--------------------*/
.question01 {
  padding-bottom: 0; }
  .question01__txt01 {
    margin-bottom: 10px; }
    @media only screen and (min-width: 768px) {
      .question01__txt01 {
        margin-bottom: 20px; } }
  .question01__frame {
    background-color: #FFFAF2;
    width: 100%;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
    padding: 40px 10px; }
    @media only screen and (min-width: 768px) {
      .question01__frame {
        padding: 40px; } }
  .question01__txt02 {
    margin-bottom: 40px; }
  .question01__img01, .question01__img02 {
    position: absolute;
    width: 100px;
    bottom: 30px;
    transform: translateY(0);
    opacity: .2; }
    @media only screen and (min-width: 768px) {
      .question01__img01, .question01__img02 {
        width: 200px;
        bottom: 50%;
        transform: translateY(50%); } }
  .question01__img01 {
    left: -30px; }
  .question01__img02 {
    right: -30px; }
  .question01 .m-list {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px; }
    @media only screen and (min-width: 768px) {
      .question01 .m-list {
        max-width: 768px; } }
    .question01 .m-listItem {
      width: 100%;
      margin-bottom: 30px;
      padding-bottom: 20px;
      padding-left: 30px;
      font-size: 16px;
      font-weight: bold;
      border-bottom: 2px dashed #CCCCCC;
      background: url(../img/e-sec1_check__cmn.svg) left 0px no-repeat;
      background-size: 20px auto; }
      @media only screen and (min-width: 768px) {
        .question01 .m-listItem {
          padding-left: 40px;
          background: url(../img/e-sec1_check__cmn.svg) left 0px top 3px no-repeat;
          background-size: 25px auto;
          font-size: 20px; } }
    .question01 .m-listItem:last-of-type {
      margin-bottom: 0; }
  .question01 .e-arrow {
    margin: 40px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 70px 0 70px;
    border-color: #002063 transparent transparent transparent; }

/*--------------------
QUESTION02
--------------------*/
.question02__txt01 {
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .question02__txt01 {
      margin-bottom: 40px; } }

.question02__txt02 {
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .question02__txt02 {
      margin-bottom: 40px; } }

.question02__frame {
  background-color: #FFFAF2;
  width: 100%;
  border-radius: 5%;
  padding: 40px 20px 20px;
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .question02__frame {
      padding: 60px 100px 40px;
      margin-bottom: 30px; } }

.question02 .m-list {
  display: block;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .question02 .m-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; } }
  .question02 .m-listItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    border: 3px solid #F29600;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold; }
    @media only screen and (min-width: 768px) {
      .question02 .m-listItem {
        width: 46%;
        max-width: 400px;
        padding: 20px;
        font-size: 20px;
        border: 2px solid #F29600;
        margin: 0 1% 40px; } }
    .question02 .m-listItem p {
      display: inline-block;
      vertical-align: middle; }
    .question02 .m-listItem img {
      display: inline-block;
      margin: 0; }

.question02__txt03 {
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .question02__txt03 {
      margin-bottom: 40px; } }

/*--------------------
case
--------------------*/
#case {
  padding-top: 0; }
  #case .case__txt {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #case .case__txt {
        font-size: 24px;
        margin-bottom: 40px; } }

/*--------------------
case
--------------------*/
#reason .reason__txt01 {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    #reason .reason__txt01 {
      font-size: 24px;
      margin-bottom: 60px; } }

#reason .m-list {
  width: 100%;
  max-width: 840px;
  margin: 0 auto; }
  #reason .m-listItem {
    display: block;
    margin: 0 auto 40px; }
    @media only screen and (min-width: 768px) {
      #reason .m-listItem {
        display: flex;
        justify-content: space-between; } }
    #reason .m-listItem img {
      margin: 0 auto 30px; }
      @media only screen and (min-width: 768px) {
        #reason .m-listItem img {
          margin: 0 40px 0 0; } }
  #reason .m-listItem:last-of-type {
    margin-bottom: 0; }

#reason .reason__txt02 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    #reason .reason__txt02 {
      border-bottom: 2px dashed #ccc;
      padding-bottom: 20px; } }
  #reason .reason__txt02 span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    min-width: 40px;
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
    background-color: #F29600;
    border-radius: 50%;
    color: #fff;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      #reason .reason__txt02 span {
        width: 60px;
        height: 60px;
        min-width: 60px;
        line-height: 60px;
        font-size: 40px;
        margin: 0 16px 0 0; } }
  #reason .reason__txt02 p {
    font-size: 20px;
    color: #002063;
    font-weight: bold; }
    @media only screen and (min-width: 768px) {
      #reason .reason__txt02 p {
        font-size: 24px; } }

#reason .reason__txt03 {
  font-size: 16px;
  margin-top: 10px; }
  @media only screen and (min-width: 768px) {
    #reason .reason__txt03 {
      font-size: 20px;
      margin-top: 20px; } }

/*--------------------
flow
--------------------*/
#flow .flow__txt01 {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    #flow .flow__txt01 {
      font-size: 24px;
      margin-bottom: 60px; } }

#flow .m-list {
  width: 100%;
  max-width: 840px;
  margin: 0 auto; }
  #flow .m-listItem {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6px; }
    #flow .m-listItem img {
      width: 80px;
      margin: 0;
      margin-right: 10px; }
      @media only screen and (min-width: 768px) {
        #flow .m-listItem img {
          width: 150px;
          margin-right: 20px; } }
  @media only screen and (min-width: 768px) {
    #flow .m-listItem:last-of-type {
      margin-bottom: 0; } }

#flow .flow__txt02 {
  display: inline-block;
  font-size: 12px;
  color: #F29600;
  font-weight: bold;
  margin-right: 10px; }
  @media only screen and (min-width: 768px) {
    #flow .flow__txt02 {
      display: block;
      font-size: 20px; } }

#flow .flow__txt03 {
  display: inline-block;
  font-size: 16px;
  color: #002063;
  font-weight: bold; }
  @media only screen and (min-width: 768px) {
    #flow .flow__txt03 {
      display: block;
      font-size: 24px; } }

#flow .flow__txt04 {
  font-size: 14px; }
  @media only screen and (min-width: 768px) {
    #flow .flow__txt04 {
      font-size: 18px; } }

/*--------------------
price
--------------------*/
#price .price__txt {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    #price .price__txt {
      font-size: 24px;
      margin-bottom: 40px; } }

/*--------------------
qa
--------------------*/
#qa .qa__txt01 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff; }
  @media only screen and (min-width: 768px) {
    #qa .qa__txt01 {
      font-size: 24px;
      margin-bottom: 40px; } }

#qa .qa__frame {
  background-color: #fff;
  width: 100%;
  margin: 0 auto 20px;
  border-radius: 10px; }
  @media only screen and (min-width: 768px) {
    #qa .qa__frame {
      margin-bottom: 40px;
      border-radius: 20px; } }

#qa .qa__frame:last-of-type {
  margin-bottom: 0; }

#qa .qa__txt02 {
  font-size: 16px;
  color: #002063;
  font-weight: bold;
  padding: 20px;
  border-bottom: 3px dotted #002063; }
  @media only screen and (min-width: 768px) {
    #qa .qa__txt02 {
      font-size: 20px;
      padding: 40px; } }

#qa .qa__txt03 {
  font-size: 16px;
  font-weight: bold;
  padding: 20px; }
  @media only screen and (min-width: 768px) {
    #qa .qa__txt03 {
      font-size: 20px;
      padding: 40px; } }

/*--------------------
info
--------------------*/
#info .info__txt01 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    #info .info__txt01 {
      font-size: 24px;
      margin-bottom: 40px; } }

#info table {
  width: 100%;
  max-width: 810px;
  margin: 0 auto; }

#info .info__txt02 th {
  padding: 10px;
  color: #fff;
  background-color: #002063;
  font-weight: bold;
  text-align: left;
  font-size: 16px; }
  @media only screen and (min-width: 768px) {
    #info .info__txt02 th {
      padding: 20px;
      font-size: 20px; } }

#info .info__txt03:nth-child(even) td {
  padding: 10px;
  background-color: #EFEFEF; }
  @media only screen and (min-width: 768px) {
    #info .info__txt03:nth-child(even) td {
      padding: 20px; } }

#info .info__txt03:nth-child(odd) td {
  padding: 10px;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    #info .info__txt03:nth-child(odd) td {
      padding: 20px; } }

#info .info__txt03 td:nth-of-type(1) {
  font-size: 12px;
  min-width: 80px; }
  @media only screen and (min-width: 768px) {
    #info .info__txt03 td:nth-of-type(1) {
      font-size: 14px; } }

/*--------------------
action
--------------------*/
#action .line {
  width: 100%;
  border: 2px solid #1CB91E;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto 20px; }
  @media only screen and (min-width: 768px) {
    #action .line {
      max-width: 900px;
      border: 3px solid #1CB91E;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      border-radius: 20px;
      padding: 40px;
      margin-bottom: 40px; } }
  #action .line .line__btn {
    margin: 0; }
    #action .line .line__btn img {
      width: 100%; }
  #action .line .line__txt01 {
    font-size: 24px;
    color: #1CB91E;
    font-weight: bold;
    margin-bottom: 10px; }
  #action .line .line__txt02 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      #action .line .line__txt02 {
        font-size: 20px;
        margin-bottom: 40px; } }
  #action .line .line__img {
    margin-bottom: 10px; }
    @media only screen and (min-width: 768px) {
      #action .line .line__img {
        margin-bottom: 0;
        margin-left: 20px; } }

@media only screen and (min-width: 768px) {
  #action .tel {
    max-width: 900px;
    margin: 0 auto; } }

#action .tel img {
  width: 100%; }

/*--------------------
form
--------------------*/
#form .form__txt01 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: #F29600; }
  @media only screen and (min-width: 768px) {
    #form .form__txt01 {
      font-size: 30px; } }

#form .form__txt02,
#form .form__txt03 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    #form .form__txt02,
    #form .form__txt03 {
      font-size: 20px;
      margin-bottom: 30px; } }

#form .form__wrap {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    #form .form__wrap {
      max-width: 900px; } }

#form .form__label {
  font-size: 14px;
  font-weight: bold; }
  @media only screen and (min-width: 768px) {
    #form .form__label {
      font-size: 16px; } }

#form .form__label::after {
  content: "必須";
  display: inline;
  font-size: 12px;
  padding: 3px;
  text-align: center;
  margin-left: 10px;
  color: #fff;
  background-color: #F20000; }
  @media only screen and (min-width: 768px) {
    #form .form__label::after {
      font-size: 12px; } }

#form .form__row {
  margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    #form .form__row {
      margin-bottom: 40px; } }

#form .form__row:last-child {
  margin-bottom: 0; }

#form .radio .wpcf7-list-item {
  display: block;
  padding: 8px 0 0;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    #form .radio .wpcf7-list-item {
      display: inline-block;
      padding: 20px 5px 0;
      margin: 0 20px 0 0; } }

#form input[type="text"],
#form input[type="tel"],
#form input[type="email"] {
  width: 100%;
  height: 50px;
  background-color: #EFEFEF;
  border: none; }
  @media only screen and (min-width: 768px) {
    #form input[type="text"],
    #form input[type="tel"],
    #form input[type="email"] {
      height: 80px; } }

#form .form__attention {
  color: #969696;
  font-size: 14px;
  margin-top: 10px;
  display: block; }
  @media only screen and (min-width: 768px) {
    #form .form__attention {
      margin-top: 5px; } }

#form select {
  width: 100%;
  height: 50px;
  border-color: #ccc; }
  @media only screen and (min-width: 768px) {
    #form select {
      height: 80px; } }

#form textarea {
  width: 100%;
  height: 200px;
  background-color: #EFEFEF;
  border: none;
  padding: 20px; }
  @media only screen and (min-width: 768px) {
    #form textarea {
      padding: 10px; } }

#form input[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: #F29600;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px; }
  @media only screen and (min-width: 768px) {
    #form input[type="submit"] {
      height: 80px;
      font-size: 28px; } }

/*--------------------
footer
--------------------*/
#footer {
  padding: 20px 0; }
  #footer .l-contentInner {
    display: flex;
    justify-content: space-between; }

/*

hamburger menu

*/
.m-hm {
  width: 34px;
  height: 30px;
  cursor: pointer;
  z-index: 100; }
  @media only screen and (min-width: 768px) {
    .m-hm {
      display: none; } }
  .m-hm__toggle {
    position: relative;
    margin-top: 10px; }
    .m-hm__toggle span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #000;
      left: 0;
      -webkit-transition: .35s ease-in-out;
      -moz-transition: .35s ease-in-out;
      transition: .35s ease-in-out; }
      .m-hm__toggle span:nth-child(1) {
        top: 0; }
      .m-hm__toggle span:nth-child(2) {
        top: 10px; }
      .m-hm__toggle span:nth-child(3) {
        top: 20px; }

.m-spNav {
  position: absolute;
  left: 100%;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }
  @media only screen and (min-width: 768px) {
    .m-spNav {
      display: none; } }
  .m-spNav__menuList {
    list-style: none;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .m-spNav__menuListItem {
    position: static; }
    .m-spNav__menuListItem a {
      display: block;
      width: 100%;
      font-size: 5vw;
      font-weight: bold;
      color: #000;
      line-height: 80px; }

.m-pcNav {
  display: none; }
  @media only screen and (min-width: 768px) {
    .m-pcNav {
      display: block;
      width: 65vw;
      max-width: 768px; }
      .m-pcNav__menuList {
        margin: 0;
        display: flex;
        justify-content: space-between; }
      .m-pcNav__menuListItem {
        margin-left: 20px; }
        .m-pcNav__menuListItem a {
          display: inline-block;
          width: auto;
          line-height: 50px;
          color: #000;
          font-size: 14px;
          font-weight: bold; } }

/*

hamburger menu / Status : Open

*/
.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg); }

.open span:nth-child(2) {
  width: 0;
  left: 50%; }

.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg); }

.open .m-spNav {
  left: 0; }
