@font-face {
  font-family: "NotoSansJP";
  font-weight: 800;
  src: url("../font/NotoSansJP-Bold.otf") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-weight: 200;
  src: url("../font/NotoSansJP-Light.otf") format("opentype"); }

@font-face {
  font-family: "NotoSansJP";
  font-weight: 600;
  src: url("../font/NotoSansJP-Medium.otf") format("opentype"); }

@font-face {
  font-family: "NotoSerifJP";
  font-weight: 800;
  src: url("../font/NotoSerifJP-Bold.otf") format("opentype"); }

@font-face {
  font-family: "NotoSerifJP";
  font-weight: 200;
  src: url("../font/NotoSerifJP-Light.otf") format("opentype"); }

@font-face {
  font-family: "NotoSerifJP";
  font-weight: 600;
  src: url("../font/NotoSerifJP-Medium.otf") format("opentype"); }

.l-hero {
  width: 100%; }

.l-content {
  width: 100%;
  margin: 0 auto; }

.l-bcBlue {
  background-color: #002063; }

.l-bcGray {
  background-color: #d3d3d4; }

.l-bcDgray {
  background-color: #636262; }

.wrapper {
  width: 100%;
  overflow: hidden; }

/*

header

*/
header {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16); }
  @media only screen and (min-width: 768px) {
    header {
      background-color: #f00; } }

/*

main

*/
main {
  padding-top: 55px; }
  @media only screen and (min-width: 768px) {
    main {
      background-color: #f00; } }

/*

#hero

*/
#hero img {
  margin-bottom: 20px; }

#hero h2 {
  font-size: 26px; }

.b-widthS,
.b-widthM,
.b-widthL {
  width: 100%; }

@media only screen and (min-width: 768px) {
  .b-widthS {
    max-width: 980px; } }

@media only screen and (min-width: 768px) {
  .b-widthM {
    max-width: 1440px; } }

@media only screen and (min-width: 768px) {
  .b-widthL {
    max-width: 100%; } }

.b-padding {
  padding: 80px 12px; }
  @media only screen and (min-width: 768px) {
    .b-padding {
      padding: 160px 0; } }

.b-paddingTop {
  padding: 80px 12px 20px; }
  @media only screen and (min-width: 768px) {
    .b-paddingTop {
      padding: 160px 0 40px; } }

.b-paddingBottom {
  padding: 20px 12px 80px; }
  @media only screen and (min-width: 768px) {
    .b-paddingBottom {
      padding: 40pxpx 0 160px; } }

/*

text

*/
a {
  text-decoration: none; }

h1 {
  position: absolute;
  top: 14px;
  left: 12px;
  display: inline-block;
  z-index: 101; }

br {
  display: block; }
  @media only screen and (min-width: 768px) {
    br {
      display: none; } }

h1 img {
  height: 25px; }

.e-tcWhite {
  color: #fff; }

.e-title {
  font-size: 20px;
  font-family: "NotoSansJP";
  font-weight: 800;
  margin: 10px auto;
  line-height: 1.5; }

.e-catch {
  font-size: 22px;
  font-family: "NotoSansfJP";
  font-weight: 800;
  margin: 10px auto;
  line-height: 1.7; }

.e-cap {
  font-size: 14px;
  font-family: "NotoSansJP";
  font-weight: 600;
  margin: 10px auto;
  line-height: 2; }

.e-txt {
  font-size: 14px;
  font-family: "NotoSansJP";
  font-weight: 200;
  margin: 10px auto;
  line-height: 2; }

/*

hamburger menu

*/
.m-hm {
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 100; }
  @media only screen and (min-width: 768px) {
    .m-hm {
      display: none; } }
  .m-hm__toggle {
    position: relative; }
    .m-hm__toggle span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #000;
      left: 0;
      -webkit-transition: .35s ease-in-out;
      -moz-transition: .35s ease-in-out;
      transition: .35s ease-in-out; }
      .m-hm__toggle span:nth-child(1) {
        top: 0; }
      .m-hm__toggle span:nth-child(2) {
        top: 11px; }
      .m-hm__toggle span:nth-child(3) {
        top: 22px; }

.m-spNav {
  position: absolute;
  left: 100%;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }
  .m-spNav__menuList {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    margin-top: 55px;
    padding: 0; }
  .m-spNav__menuListItem {
    position: static;
    padding: 20px 0; }
    .m-spNav__menuListItem a {
      font-size: 18px;
      font-weight: bold;
      color: #000; }

/*

hamburger menu / Status : Open

*/
.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  transform: rotate(315deg); }

.open span:nth-child(2) {
  width: 0;
  left: 50%; }

.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  transform: rotate(-315deg); }

.open .m-spNav {
  left: 0; }
