$mainColor: #002063;
$baseColor: #d3d3d4;
$subColor: #636262;
$acctColor: #f29600;

.l-content {
    width: 100%;
    margin: 0 auto;
}
.l-bcBlue {
    background-color: $mainColor
}
.l-bcGray {
    background-color: $baseColor
}
.l-bcDgray {
    background-color: $subColor
}